h1 {
    text-align: center;
    text-decoration: underline;
}
img {
    height: auto;
    width: 100%;
    margin: 0 auto;
}
p {
    text-align: justify;
    font-size: 17px;
}
.btn {
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
#white {
    background-color: white;
}
#aqua {
    background-color: aqua;
}
#violet {
    background-color: violet;
}
#black {
    background-color: black;
}
#color-switcher {
    text-align: right;
}